<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doc</title>
    <link rel="stylesheet" href="/Users/senushka/Desktop/mybin/app/templates/style.css">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.14.4/dist/full.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css' )}}" rel="stylesheet">
</head>

<body>
    <h2 class="text-4xl font-bold">New Paste</h2>
    <form action="" method=post>
        <div class=code><textarea class="textarea h-100 w-max textarea-bordered" name=code cols=60 rows=18></textarea></div>
        <button><input type=submit value="Create Paste" class="btn btn-ghost"></button>
    </form>

    <a href="{{paste_url}}"><button  class="btn btn-ghost">See ur paste (Click after clicking new paste)</button></a>

</body>
</html>
